/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: 30px;
  font-size: 18px;
  font-weight: 400;
  height: 290px;
}

.cover {
  position: relative;
  min-height: 757px;
  /* z-index: -1; */
}

.header-menu {
  padding-left: 42px;
}

.header__links-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.header__links-list-item {
  text-transform: lowercase;
  list-style: circle; 
  padding-right: 6px; 
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {

}

.header__link_active {

}

.header__logo-image {
  width: 135px;
  height: 110px;
}

.header__logo {
  display: block;
}

.address {
  border: 2px solid black;
  padding-left: 110px;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: center;
  list-style: none;
  row-gap: 4px;
}

.header__address li {
    align-items: flex-start;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: black;
  z-index: -1;
}

.cover__title {
  padding: 157px 50px 207px 48px;
  font-size: 100px;
  font-weight: 700;
  line-height: 133%;
  height: 655px;
}

.cover__image {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.aligned-text {
  display: block;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display:flex;
  width: 1000px;
  height: 51px;
  justify-content: space-between;
  align-items: baseline;
  word-spacing: 15px;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 49px;
}

.cover__description-text {
  color:#fff;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border-color: #fff;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  justify-self: flex-end;
}

.lots {
  min-height: 723px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-top: 180px;
  margin-left: 65px;
  margin-bottom: 28px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 23px;
  gap: 6px;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  /* position: relative; */
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: -2;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color:#fff;
}

.card__text {
  color: white;
  /* line-height: 1.2; */
  font-size: 20px;
  font-weight: 400;
  
}

.lots__look-more-link {

}

.card_type_main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  padding: 40px 24px 43px 35px;
  background-size: cover;
  background-position: center; 
  z-index: 0;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}
