/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: 30px;
  font-size: 18px;
  font-weight: 400;
  height: 290px;
}

.cover {
  position: relative;
  min-height: 757px;
}

.header-menu {
  padding-left: 42px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.header__links-list-item {
  text-transform: lowercase;
  list-style: circle; 
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 135px;
  height: 110px;
}

.header__logo {
  padding-left: 6px;
  padding-top: 3px;
}

.header__address {
  margin-left: 164px;
  font-size: 18px;
  font-weight: 400;
  width: 240px;
  height: 98px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: center;
  list-style: none;
  gap: 5px;
  font-style: normal;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: black;
  z-index: -1;
}

.cover__title {
  padding: 157px 50px 207px 48px;
  font-size: 100px;
  font-weight: 700;
  line-height: 133%;
  height: 655px;
}

.cover__image {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.aligned-text {
  display: block;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display:flex;
  width: 1000px;
  height: 51px;
  justify-content: space-between;
  align-items: baseline;
  word-spacing: 15px;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 52px;
  margin-top: 4px;
}

.cover__description-text {
  color:#fff;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border-color: #fff;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  justify-self: flex-end;
}

.lots {
  min-height: 723px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-top: 183px;
  margin-left: 66px;
  margin-bottom: 28px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-left: 26px;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration-color: #fff;
}

.card {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 0;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color:#fff;
  margin: 48px 40px;
}

.card__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 40px 33px;
  height: 100%;
  align-content: flex-end;
}

.lots__look-more-link {
  display:block;
  margin-top: 30px;
  margin-left: 66px;
  font-size: 20px;
  font-weight: 400;
}

.card_type_main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
  z-index: 0;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.about {
  margin-top:100px;
  display: grid;
  justify-content: space-between;
  gap: 51px;
  grid-template-columns: 334px 1fr;
  width: 1100px;
}

.about__column {
  margin-top: 53px;
  margin-right: 20px;
  justify-self: end;

}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 140px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 101px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.footer {
  margin-top: 183px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu {
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  padding-bottom: 29px;
  padding-left: 9px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -15px;
    font-size: 18px;
    font-weight: 400;
    width: 240px;
    list-style: none;
}

.footer__social-list {
  margin-left: 3px;
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  gap: 42px;
  list-style: none;
}

.footer__social-icon {
  margin-left: 5px;
  width: 48px;
  height: 48px;
}

.socials {
  width: 240px;
  height: 48px;
  margin-left: 75px;
  margin-bottom: 42px;
}
