/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 16px 8px;
  font-size: 18px;
  height: 293px;
}

.cover {
  
}

.lots {

}

.about {

}

.footer {

}

.header-menu {

}

.header__links-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.header__links-list-item {
  text-transform: lowercase;
  list-style: circle;  
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {

}

.header__link_active {

}

.header__logo-image {

}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
    
}

.address {

}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  list-style: none;
}

.header__address li {
    align-items: flex-start;
}